body {
    height: auto;
}

.napominedit {
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: inherit;
}

a:not(.nostyle)
.fast-menu {
    font-size: 35px;
    /*padding: 0px 0px 10px  10px;*/
    padding: 10px;
    margin: auto;
    color: #a7a7a7;
}

.fdfd {
    margin-top: -30px;
}

.cog-menu {
    font-size: 20px;
    margin-right: 5px;
    color: #aaaaaa;
}

.nestable-menu-icom {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 22px;
    color: #9ea6b9;
}

.admin-menu-config-icon {
    font-size: 70px;
    margin-right: 30px;
}

.grid-action-column {
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.3em;
    max-width: 7em;
    font-size: 1.1em;
}

.top-10 {
    margin-top: 10px;
}

.top-20 {
    margin-top: 20px;
}

.top-30 {
    margin-top: 30px;
}

.atop-30 {
    margin-top: -30px;
}

.top-40 {
    margin-top: 40px;
}

.top-50 {
    margin-top: 50px;
}

.top-100 {
    margin-top: 100px;
}

.nyz-10 {
    margin-bottom: 10px;
}

.nyz-20 {
    margin-bottom: 20px;
}

.nyz-30 {
    margin-bottom: 30px;
}

.nyz-40 {
    margin-bottom: 40px;
}

.nyz-50 {
    margin-bottom: 50px;
}

.nyz-100 {
    margin-bottom: 100px;
}

.left-10 {
    margin-left: 10px;
}

.left-20 {
    margin-left: 20px;
}

.left-30 {
    margin-left: 30px;
}

.left-40 {
    margin-left: 40px;
}

.left-50 {
    margin-left: 50px;
}

.left-100 {
    margin-left: 100px;
}

.right-10 {
    margin-left: 10px;
}

.right-20 {
    margin-left: 20px;
}

.right-30 {
    margin-left: 30px;
}

.right-40 {
    margin-left: 40px;
}

.right-50 {
    margin-left: 50px;
}

.right-100 {
    margin-left: 100px;
}

.icon-menu-blok {
    font-size: 1.2em;
}

.content-list {
    max-width: 900px;
}

.gray50 {
    color: darkgrey;
    font-weight: 100;
}

.dashboard-icon {
    color: #1ab394;
    font-size: 22px;
    padding-top: 0.6em;
    height: 100%;
}

/*.modal-backdrop {
    z-index: 2002 !important;
}
.modal {
    z-index: 3050 !important;
}*/
.color-red {
    color: red;
}

.color-green {
    color: #00aa1f;
}

.align-center {
    text-align: center;
}

.element-row {
    padding: 5px;
    font-size: 15px;
}

.menu-2 {
    margin-bottom: 20px;
}

.menu-modal-bottom {
    margin-bottom: 30px;
}

.menu-time {
    height: auto;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.menu-time-title {
    font-size: 12px;
}

.menu-time-content {
    font-size: 20px;
    font-weight: bold;
}

.breadcrumb {
    font-size: 15px;
    /* font-weight: bold;*/
}

.d-ok {
    color: #01b701;
}

.d-gray {
    color: #aeaeae;
}

.d-start {
    color: #0084ff;
}

.d-plan {
    color: #b900ff;
}

.d-error {
    color: #ff0400;
}

.process {
    font-size: 20px;
}

.process > .fa {
    margin-left: 5px;
}

.row-marker {
    background-color: #ffd1af;
}

/*
================================================================
sdg*/

.gantt {
    position: relative;
    overflow: hidden;
    color: #93a1a1;
    background: #002b36;
}

.gantt * {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.gantt li {
    list-style: none;
}

/* optional title */
.gantt figcaption {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* sidebar */
.gantt aside {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 199px;
    border-right: 1px solid #000b0d;
    z-index: 2;
}

.gantt aside:before {
    position: absolute;
    right: -7px;
    pointer-events: none;
    width: 7px;
    top: 0;
    bottom: 0;
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.03);
    background: -webkit-linear-gradient(left, rgba(0, 43, 54, 0.7), rgba(0, 43, 54, 0));
    background: -moz-linear-gradient(left, rgba(0, 43, 54, 0.7), rgba(0, 43, 54, 0));
    background: linear-gradient(left, rgba(0, 43, 54, 0.7), rgba(0, 43, 54, 0));
    z-index: 3;
}

.gantt aside .gantt-labels {
    border-top: 1px solid #001f27;
}

.gantt aside .gantt-label strong {
    display: block;
    padding: 0 20px;
    color: #93a1a1;
    border-bottom: 1px solid #001f27;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* data section */
.gantt-data {
    position: relative;
    overflow-x: scroll;
    margin-left: 200px;
    white-space: nowrap;
}

/* data section header */
.gantt header .gantt-months {
    overflow: hidden;
}

.gantt header .gantt-month {
    float: left;
    text-align: center;
}

.gantt header .gantt-month strong {
    display: block;
    border-right: 1px solid #001f27;
    border-bottom: 1px solid #001f27;
}

.gantt header .gantt-day span {
    text-indent: 0;
    text-align: center;
}

.gantt header .gantt-day.today span {
    color: white;
}

/* data items */
.gantt-item {
    position: relative;
}

.gantt-days {
    overflow: hidden;
}

.gantt-day {
    float: left;
}

.gantt-day span {
    display: block;
    border-right: 1px solid #001f27;
    border-bottom: 1px solid #001f27;
    text-indent: -12000px;
}

.gantt-day.weekend span {
    background: #073642;
}

/* data blocks */
.gantt-block {
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 4px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 2px 6px, rgba(255, 255, 255, 0.2) 0 1px 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 2px 6px, rgba(255, 255, 255, 0.2) 0 1px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.9) 0 2px 6px, rgba(255, 255, 255, 0.2) 0 1px 0 inset;
    opacity: .9;
}

.gantt-block-label {
    display: block;
    color: white;
    padding: 5px 10px;
}

/* block colors */
.gantt-block {
    background: #268bd2;
}

.gantt-block.important {
    background: #b58900;
}

.gantt-block.urgent {
    background: #d33682;
}

/* today sign */
.gantt time {
    position: absolute;
    top: 0;
    width: 2px;
    background: white;
    bottom: 0;
    z-index: 1000;
    text-indent: -12000px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
}

.gantt time:before {
    position: absolute;
    content: "";
    top: 0;
    left: -4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}

/* scrollbar styles */
.gantt ::-webkit-scrollbar {
    background: #002b36;
    height: 10px;
}

.gantt ::-webkit-scrollbar-thumb {
    background: #93a1a1;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
}

/* selection styles */
.gantt ::-moz-selection {
    background: #fff;
    color: #000;
}

.gantt ::selection {
    background: #fff;
    color: #000;
}

.progress-mini, .progress-mini .progress-bar {
    height: 15px;
}

.progress {
    background-color: #ff0000;
}

.chosen-container .chosen-results li em {
    background: #f8fe4f;
    font-style: normal;
}

.active-result {
    font-size: 15px;
}

.my-btn2 > .btn {
    margin-right: 7px;
}

.my-breadcrumb {
    font-weight: 700;
}

/* PANELS */
.page-heading {
    border-top: 0;
    padding: 0 10px 20px 20px;
}

.toggle-icon {
    font-size: 20px
}

.cona {
    padding-bottom: 0px;
    margin-left: 10px;
}

.vcenter {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.title-text-small {
    font-size: 12px;
    font-weight: bold;
}

.dtitle {
    font-weight: 700;
}

.dtitle-row {
    margin-bottom: 7px;
}

.nestable2 > .dd-item > .mycog {
    display: none;
}

.ul1 > li {
    list-style-type: none;
}

.ul1 > li > div {
    font-size: 14px;
    background-color: #f3f3f4;
    padding: 8px 0 8px 15px;
}

.ul1 > li > div > a {
    color: #676a6c;
    font-weight: 700;
}

.ul2 > li {
    list-style-type: none;
    background-color: white;

}

.ul2 > li > .item-product {
    margin: 5px 0 5px 0;
    font-size: 15px;
}

#warehouse .itemmenu {
    display: none;
}#warehouse .div-product-name {
    min-width: 500px;
}

#worker_products .q-prod {
    display: none;
}


.a-prod-text{
    border: #1ab394 2px solid;
}

#worker_products div.item-product{
       border-bottom: rgba(0, 0, 0, 0.27) 1px solid;
}
.itemmenu {

    text-align: right;

}
.itemmenu a{

    font-size: 22px;
    color: #aaaaaa;
    margin-left: 5px;

}
.itemmenu a:hover{

    color: #0a568c;

}

#logo-mor{
    background-image: url("/img/logo-umowy.png");
    height: 75px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 10px;
}


/********************/
#right-panel .rph {
    display: none;
}

#left-panel .lph {
    display: none;
}

.ul2{
   padding-left: 0px;
}

#left-panel .item-product{
    border-bottom: #b4b4b4 solid 1px; /*b4b4b4*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.lph{
    padding-left: 0px;
    padding-right: 0px;
}

#worker_products .prod-text{
    color: rgba(0, 0, 0, 0.67);
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
}